<h1>Definitions</h1>

<h2><%= @word.word %></h2>

<% if @definitions.any? %>
  <ul>
    <% @definitions.each do |definition| %>
    <li><a href="/definitions/<%= definition.id %>"><%= definition.definition %> </a></li>
    <% end %>
    </ul>
  <%else%>
    <p>No definitions to display</p>
  <% end %>

  <h2>Create a new definition</h2>

<form action=<%= "/definitions/#{@word_id}/messages" %> method="post">
  <div class="form-group">
    <label for="word"></label>
    <input name="word" class="form-control small" type="text">
    <label for="definition">Definition text</label>
    <input name="definition" class="form-control big" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
