<h1>Definitions</h1>


<% if @definitions.any? %>
  <ul>
    <% @definitions.each do |definition| %>
    <li><a href="/definitions/<%= word.id %>"><%= word.word %> </a></li>
    <% end %>
    </ul>
  <%else%>
    <p>No definitions to display</p>
  <% end %>

  <a href=<%= "/words/"%>>Return to words</a>
