<h1>Wacky Word Definer</h1>

<h3>Choose a word!</h3>

<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
    <li><a href="/words/<%= word.id %>"><%= word.word %> </a></li>
    <% end %>
    </ul>
  <%else%>
    <p>No words to display</p>
  <% end %>

  <a href="/word/new">Add your own word</a>
  <hr>
  <form action="/query_board" method="post">
    <div class="form-group">
      <label for="search">Search</label>
      <input id="search" name="name" class="form-control" type="text">
    </div>

    <button type="submit" class="btn"> Search</button>
  </form>
